<!-- Footer -->
<footer class="text-center">
    <div class="container p-3">
       
            <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <a href="">
                            <h5>AboutUs</h5>
                        </a>
                    </div>
                    <div class="col-sm">
                        <a href="">
                            <h5>ContactUs</h5>
                        </a>
                    </div>
                    <div class="col-sm">
                            <h5>© 2020 Copyright Java FSD G3 2022</h5>
                    </div>
                </div>
            </div>
    </div>
    

</footer>
